:root {
    --color-primary: #7380ec;
    --color-danger: #f15214;
    --color-success: #23e6b5;
    --color-warning: rgb(241, 180, 100);
    --color-white: #ffffff;
    --color-info-dark: #a7a9c3;
    --color-info-light: #d1d4ee;
    --color-dark: #5e638d;
    --color-light: whitesmoke;
    --color-primary-variant: #1a2edb;
    --color-dark-variant: #74757c;
    --color-background: #e7e7f0;
    --color-gradient: linear-gradient(135deg, #23d9f1, #47945e);
  
    --card-border-radius: 1rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);  
  }
  

/* ------  Lower portion -----*/
.todo-container {
    min-width: 500px;
    text-align: center;
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .todo-container h2 {
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    text-align: center; /* This centers the text */
    padding: 10px;
    font-size: 20px;
    background: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.todo-title{
    display: flex;
}

.todo-container h2:hover {
  box-shadow: none;
}

.todo-container button  {
    margin: 5px;
    background: transparent;
    margin-left: 15px;
    background: var(--color-primary);
    border-radius: 50%;
    transition: all 300ms ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
  }
  .todo-container button i{
    color: var(--color-white);
  }
  #addTodo:hover{
    box-shadow: none;

  }

  #addTodo i{
    font-size: 15px;
    cursor: pointer;
    color: var(--color-white);
    margin: 10px;
    transition: all 300ms ease;
  }



  #todoFormContainer {
    margin-top: 10px;
    border-radius: var(--border-radius-3);
    padding: 5px;
  }

  #todoFormContainer {
    background: #23d9f1;
    transition: all 300ms ease;
    margin-top: 10px;
    display: none;
  }
  #todoFormContainer button i{
    margin: 5px;
  }
  #todoFormContainer form input{
    border-radius: var(--border-radius-3);
    padding: 3px;
  }
  .todo-container ul li{
    margin-top: 10px;
    border-radius: var(--border-radius-3);
    padding: 5px;
    background: var(--color-success);
  }
  .todo-container ul li button{
    padding: 5px;
    cursor: pointer;
  }
  .todo-container ul {
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 250px; /* Set a fixed height for the container */
  }
  #todoList {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .todo-container {
      padding: 0;
      margin-top: 20px;
    }
    #todoFormContainer {
      width: 400px;
      margin-top: 10px;
      border-radius: var(--border-radius-3);
      padding: 5px;
      display: flex;
    }
    #todoFormContainer form input{
      width: 90px;
    }
    #todoList {
      display: none;
      width: 90%;
    }
  }
 


